// @import '../../../node_modules/we-vue/lib/style.css';
html,
body {
  background-color: #F5F5F5;;
  user-select: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
ul, ol {
  list-style: none;
}
a,
img {
  -webkit-touch-callout: none;
}
img {
  content: normal!important;
}

.page {
  width: 100%;
  height: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

// .page-with-padding {
//   padding: .5rem .7rem;
//   width: calc(100% - .7rem*2);
// }

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 250ms;
  top: 0;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  will-change: transform;
}

.slide-left-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-left-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-right-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-right-leave-active {
  opacity: 0;
  transform: translateX(100%);
}

.is-iOS .x-header {
  position: fixed;
  top: 40px!important; // iOs 10 or lower
  top: constant(safe-area-inset-top)!important; // iOs 11
  top: env(safe-area-inset-top)!important; // iOs 11+ (feature)
  // padding-top: 32px; vw
}
.is-iOS .x-wrapper {
  //position: fixed;
  top: 40px; // iOs 10 or lower 3.15rem
  top: constant(safe-area-inset-top)!important; // iOs 11
  top: env(safe-area-inset-top)!important; // iOs 11+ (feature)
  padding-top: 96px;
  // padding-top: 128px;
  // padding-top: 50px;
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}
.is-iOS .customer_random .x-wrapper {
  position: absolute;
  padding-top: 0;
}
 //
 //.is-iOS .page::after {
 //  content: '';
 //  width: 100%;
 //  height: 20px!important;
 //  height: env(safe-area-inset-top)!important;
 //  height: constant(safe-area-inset-top)!important;
 //  //background-color: #ffffff;
 //  color: #000000!important;
 //  position: absolute;
 //  top: 20px;
 //}
